html{
    background-color: #181818;
    background-image: EndermanWeb/EVENTIMGS/Diwali2023.jpg;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body{
    background-color: #a4508b;
    background-image: EndermanWeb/EVENTIMGS/Diwali2023.jpg;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .topnav {
    background-color: #000000a9;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    list-style: none;
    position: sticky;
    overflow-x: auto;
    margin-inline-start: 0.5%;
    z-index: 1;
    padding: 15px;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Align items with space between */
  }
  
  .topnav button {
    background-color: rgba(0, 0, 0, 0.39);
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    size: 10;
    border-radius: 10px;
    margin-right: 5px;
    transition: all 0.2s ease;
    border: 0px;
  }
  
  .topnav button:hover {
    background-color: rgb(112, 14, 192);
  }
  
  .topnav button.split {
    background-color: #6c33a3;
    background-image: linear-gradient(316deg, #6c33a3 0%, #8241b8 74%);
    margin-left: auto;
    margin-left: 5px;
    margin-right: 0px;
  }
  .topnav button.account {
    background-color: #0077c7;
    margin-left: auto;
    margin-left: 5px;
    margin-right: 0px;
  }
  .topnav button.account:hover{
    background-color: #005892;
  }
  #account {
    margin-left: auto; /* Push the account element to the right */
  }
  
  .curves {
    border-radius: 20px;
  }
  
  .desktop {
    position: fixed;
    top: -100; /* Adjust the vertical position as needed */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Center vertically */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease;
  }
  .desknavloaded{
    top: 45;
  }
  
  .loading-button{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    position: fixed;
  }
  .mobile_nav_button{
    position: fixed;
    bottom: 0%;
    margin: 5px;
    background-color: #000000a9;
    backdrop-filter: blur(10px);
    border-width: 0px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    z-index: 1;
    word-break: break-all;
    transition: all ease 1s;
  }
  .hover_mobile_nav_button button:hover{
    background-color: #181818cc;
  }
  .mobile_nav{
    position: fixed;
    background-color: #000000a9;
    backdrop-filter: blur(50px);
    list-style: none;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: auto;
    z-index: 1;
    animation: fadein 0.2s;
    margin-top: 20px;
  }
  @keyframes fadein {
    from{
      opacity: 0;
    } 
    to {
      opacity: 1;
    }
  }
  .mobile_nav button{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  background-color: #00000075;
  border: 0px;
  transition: color 0.5s ease;
  margin: 20px;
  padding: 28px;
  border-radius: 15px;
  transition: all 0.5s ease;
  word-break:break-all;
  }
  .mobile_nav button:hover{
    background-color: rgb(34, 34, 34);
  }
  .hidden{
    display: none;
  }
    /* Custom Scrollbar */

  div::-webkit-scrollbar {
    width: 20px;
  }
  
  div::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 20px;
  }
  
  div::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #0099ff, #2ee5dc);
    border-radius: 20px;
    border: 5px solid white;
  }
  
  div::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0d7bc4, #23aaa3);
    border: 3px solid white;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #0099ff, #2ee5dc);
    border-radius: 20px;
    border: 5px solid white;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0d7bc4, #23aaa3);
    border: 3px solid white;
  }
/* end */



.skeleton{
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 15px;
}

.skeleton-text{
  width: 100%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: 15px;
}

.skeleton-text:last-child{
  margin-bottom: 0;
  width: 80%;
}
@keyframes skeleton-loading {
 0%{
    background-color: hsl(200,20%,70%);
  }
  100%{
    background-color: hsl(200,20%,95%);
  }
}
.elementfull{
  position: fixed;
 width: 100%; 
 height: 100%;
 font-family: 50%;
 text-align: center; 
}
