html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body{
    background-color:rgb(43, 43, 43);
    background-image:
    radial-gradient(at 40% 20%, hsla(34,100%,49%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,79%,43%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(354,2%,69%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,100%,51%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(266,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(240,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(266,100%,50%,1) 0px, transparent 50%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
    padding: 5px;
  }
  .topnav {
    background-color: #000000a9;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    list-style: none;
    position: sticky;
    overflow-x: auto;
    margin-inline-start: 0.5%;
    z-index: 1;
    padding: 15px;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Align items with space between */
  }
  
  .topnav button {
    background-color: rgba(0, 0, 0, 0.39);
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    size: 10;
    border-radius: 10px;
    margin-right: 5px;
    transition: all 0.2s ease;
    border: 0px;
  }
  
  .topnav button:hover {
    background-color:rgb(135, 0, 189);
    background-image:
    radial-gradient(at 80% 100%, hsla(240,100%,46%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(214,100%,50%,1) 0px, transparent 50%);
  }
  
  .topnav button.split {
    background-color:rgb(0, 92, 168);
    background-image:
    radial-gradient(at 80% 100%, hsla(240,100%,43%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343,100%,37%,1) 0px, transparent 50%);
    margin-left: auto;
    margin-left: 5px;
    margin-right: 0px;
  }
  .topnav button.account {
    background-color: #0031d3;
    margin-left: auto;
    margin-left: 5px;
    margin-right: 0px;
  }
  .topnav button.account:hover{
    background-color: #aa0047;
  }
  #account {
    margin-left: auto; /* Push the account element to the right */
  }
  
  .curves {
    border-radius: 20px;
  }
  
  .desktop {
    position: fixed;
    top: -100; /* Adjust the vertical position as needed */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Center vertically */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease;
  }
  .desknavloaded{
    top: 45;
  }
  
  .loading-button{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    position: fixed;
  }
  .mobile_nav_button{
    position: fixed;
    bottom: 0%;
    margin: 5px;
    background-color: #000000a9;
    backdrop-filter: blur(10px);
    border-width: 0px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    z-index: 1;
    word-break: break-all;
    transition: all ease .2s;
  }
  .hover_mobile_nav_button button:hover{
    background-color: #181818cc;
  }
  .mobile_nav{
    display:none;
    background-color: #000000a9;
    backdrop-filter: blur(50px);
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    bottom: 0;
    text-align: center;
    overflow: auto;
    z-index: 1;
    margin-left: 0px;
    opacity: 0;
    transition: all ease 0.2s;
    position: fixed;
  }
  .mobile_nav button{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  background-color: #00000075;
  border: 0px;
  transition: color 0.5s ease;
  margin: 20px;
  padding: 28px;
  border-radius: 15px;
  transition: all 0.2s ease;
  word-break:break-all;
  }
  .mobile_nav button:hover{
    background-color: rgb(34, 34, 34);
  }
  .hidden{
    display: none;
  }
    /* Custom Scrollbar */

  div::-webkit-scrollbar {
    width: 20px;
  }
  
  div::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 20px;
  }
  
  div::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #0099ff, #2ee5dc);
    border-radius: 20px;
    border: 5px solid white;
  }
  
  div::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0d7bc4, #23aaa3);
    border: 3px solid white;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #0099ff, #2ee5dc);
    border-radius: 20px;
    border: 5px solid white;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0d7bc4, #23aaa3);
    border: 3px solid white;
  }
/* end */



.skeleton{
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 15px;
}

.skeleton-text{
  width: 100%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: 15px;
}

.skeleton-text:last-child{
  margin-bottom: 0;
  width: 80%;
}
@keyframes skeleton-loading {
 0%{
    background-color: hsl(200,20%,70%);
  }
  100%{
    background-color: hsl(200,20%,95%);
  }
}
.elementfull{
  position: fixed;
 width: 100%; 
 height: 100%;
 font-family: 50%;
 text-align: center; 
}

#context-menu{
  background-color: rgba(80, 80, 80, 0.5);
  backdrop-filter: blur(5px);
  width: 20%;
  height: fit-content;
  border-radius: 20px;
  position: absolute;
  box-shadow: 5px 5px 50px 5px rgba(0, 0, 0, 0.507);
  transition: .2s all ease;
  opacity: 0;
  display:none;
  position: fixed;
  z-index: 100;
}
#context-menu button{
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  color: white;
  border-radius: 20px;
  transition: .2s all ease;
  text-align: left;
  padding: 15px;
  margin-bottom: 0px;
  width: 100%;
}
#context-menu button:hover{
  background-color: rgba(240, 240, 240, 0.137);
}
#context-menu hr{
  color: rgb(255, 255, 255);
  margin: 0%;
}