#home{
  border-radius: 20px;
  background-color: #1f78fdce;
  width: fit-content;
  font-family: verdana;
  color: white;
  padding: 12px;
  margin-left: 10px;
  margin-right: 10px;
  height: fit-content;
  justify-content: space-between;
  word-break: break-all;
  transition: all 1s ease;
}
.sticky {
  position: fixed;
  top: 10px;
  width: 99%;
}
#Updates{
  flex:1;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
  height: 50%;
  margin: 0 auto;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: auto;
  width: 80%;
  margin-top: 1%;
  word-break: break-word;
  max-width: 100%;
}
#AboutME{
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10px;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
  word-break: break-all;
}
.MsgEndermanhere{
  background-color: rgb(0, 150, 67);
  color: white;
  border: 0px;
  border-radius: 10px;
  padding: 16px;
  transition: all 0.2s ease;
}
.MsgEndermanhere:hover{
  background-color: rgb(0, 116, 52);
}
.message{
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}
.message img{
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 20px;
}