#home{
  border-radius: 20px;
  background-color: #0000009a;
  width: 90%;
  font-family: verdana;
  color: white;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  word-break: break-all;
  transition: all 1s ease;
  text-align: center;
}
#Updates{
  flex:1;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
  height: 50%;
  margin: 0 auto;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: auto;
  width: 80%;
  margin-top: 1%;
  word-break: break-word;
  max-width: 100%;
}
.message{
  background-color: rgba(0, 0, 0, 0.438);
  color: white;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}
.message img{
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 20px;
}
