body {
    font-family: Verdana;
    background: linear-gradient(to bottom right, #b63c78, #2c69e1);
    color: #fff;
  }

  div::-webkit-scrollbar {
    width: 20px;
  }
  
  div::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 20px;
  }
  
  div::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #0099ff, #2ee5dc);
    border-radius: 20px;
    border: 5px solid white;
  }
  
  div::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0d7bc4, #23aaa3);
    border: 3px solid white;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #0099ff, #2ee5dc);
    border-radius: 20px;
    border: 5px solid white;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0d7bc4, #23aaa3);
    border: 3px solid white;
  }
.hidden{
  display: none;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all 0.5s ease;
}

.signup {
    background-color: #2020208e;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 32px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.signup h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Verdana;
    color: #ffffff;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 0px;
  border-radius: 15px;
  font-size: 16px;
  color: white;
  background-color: #1b1b1bc2;
}
.button {
  width: 98%;
  padding: 10px;
  background-color: #006eff;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover{
  background-color: #003f92;
}
.SignIN{
  border-radius: 10px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  padding: 10px;
  transition: all 0.2s ease;
  width: 100%;
}
.SignIN:hover{
  background-color: rgb(26, 26, 26);
}
.aboutEndermanweb{
  border-radius: 10px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  padding: 10px;
  transition: all 0.2s ease;
  width: 100%;
  margin-top: 10px;
}
.aboutEndermanweb:hover{
  background-color: rgb(26, 26, 26);
}