.gapLabel{
  margin-top: 70px;
}
#community{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 20px;
}
#communitycreate{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 20px;
  padding-top: 10px;
}
#communityroomsviewer{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  border-radius: 20px;
  overflow: auto;
}
.commrooms{
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  padding: 5px;
  transition: background 0.5s;
}
.commrooms:hover{
  background-color: rgb(24, 24, 24);
  cursor: pointer;
}