#fun{
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    padding: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
    backdrop-filter: blur(5px);
}
#fun button{
    list-style: none;
    background-color: rgba(0,0,0,0.473);
    border: rgb(20, 20, 20);
    text-align: center;
    color:white;
    border-radius: 10px;
    border-width: 1;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background 0.5s;
    word-break: break-all;
    padding: 20px;
    font-weight: bolder;
}
#fun button:hover{
    background-color: rgb(29, 29, 29);
}