  #youtube{
    background-color: rgba(0, 0, 0, 0.5);
    width: 40%;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 1s ease;
    word-break: break-all;
    margin-bottom: 15px;
}
.ytChannelButton{
    list-style: none;
    background-color: rgba(0,0,0,0.473);
    border: rgb(20, 20, 20);
    text-align: center;
    height: 30px;
    width: 100px;
    color:white;
    border-radius: 10px;
    border-width: 1;
    margin-top: 10;
    margin-bottom: 10;
    cursor: pointer;
    transition: background 0.5s;
    word-break: break-all;
}
.ytChannelLabel{
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
span button:hover{
  background-color: rgb(29, 29, 29);
}
