body {
    font-family: Verdana;
    background: linear-gradient(to bottom right, #b63c78, #2c69e1);
    color: #fff;
  }
.hidden{
  display: none;
}


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all 0.5s ease;
  }

  .signin {
    background-color: #2020208e;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 32px;
    text-align: center;
    border-radius: 15px;
    transition: all 0.5s ease;
  }

  .signin h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Verdana;
    color: #ffffff;
  }

  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    background-color: #1b1b1bc2;
  }

  .ButtonSignIN {
    width: 98%;
    padding: 10px;
    background-color: #006eff;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .ButtonSignIN:hover{
    background-color: #003f92;
  }
.SignUP{
  border-radius: 10px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  padding: 10px;
  transition: all 0.2s ease;
  width: 100%;
  margin-bottom: 10px;
}
.SignUP:hover{
  background-color: rgb(26, 26, 26);
}
.ResetPassword{
  border-radius: 10px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  padding: 10px;
  transition: all 0.2s ease;
  width: 100%;
}
.ResetPassword:hover{
  background-color: rgb(26, 26, 26);
}

.aboutEndermanweb{
  border-radius: 10px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  padding: 10px;
  transition: all 0.2s ease;
  width: 100%;
  margin-top: 10px;
}
.aboutEndermanweb:hover{
  background-color: rgb(26, 26, 26);
}